<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518265866892-3r01ljcbmnl7rqarg3oav5cmqg85ae8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518265866892-3r01ljcbmnl7rqarg3oav5cmqg85ae8v</string>
	<key>API_KEY</key>
	<string>AIzaSyD4MRXOPphcLCygSejoFQvOU0ZiIvcv2BQ</string>
	<key>GCM_SENDER_ID</key>
	<string>518265866892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patryklaskowski.apiWeatherApp</string>
	<key>PROJECT_ID</key>
	<string>api-weather-app-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>api-weather-app-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518265866892:ios:2935ee09792cde10c249a9</string>
</dict>
</plist>